{% extends "base.html" %}
{% block content %}
    <h1>
        Welcome to Akshay's Homepage
    </h1>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner" style=" width:100%; height: 500px !important;">
            <div class="carousel-item active">
                <a href="{{ url_for('simple_pages.show', page="page1")}}">
                    <img src="{{url_for('static', filename='images/git.png')}}"  height="500px" class="d-block w-100" alt="...">
                </a>
            </div>
            <div class="carousel-item">
                <a href="{{ url_for('simple_pages.show', page="page2")}}">
                    <img src="{{url_for('static', filename='images/docker.jpeg')}}" height="500px" class="d-block w-100" alt="...">
                </a>
            </div>
            <div class="carousel-item">
                <a href="{{ url_for('simple_pages.show', page="page3")}}">
                    <img src="{{url_for('static', filename='images/python.png')}}" height="500px" class="d-block w-100" alt="...">
                </a>
            </div>
            <div class="carousel-item">
                <a href="{{ url_for('simple_pages.show', page="page4")}}">
                    <img src="{{url_for('static', filename='images/cicd.png')}}" height="500px" class="d-block w-100" alt="...">
                </a>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <h1> About me </h1>
    <p>
        I'm a graduate student pursuing a Master's in Computer Science at the New Jersey Institute of Technology. I am
        passionate about applying my Software Engineering knowledge to solve real-world problems and develop scalable
        solutions to improve existing processes.
    </p>
    <h1> Projects </h1>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card border-dark" style=" height: 20rem;">
                    <div class="card-body">
                        <h4 class="card-title">Wiki Website</h4>
                        <p class="card-text">Developed a Wiki online encyclopedia that consists of a number of
                            encyclopedia entries on various topics.
                            Used Markdown markup language to store encyclopedia entries. Html, CSS, and Bootstrap was
                            used for the frontend, and Python and Django was used to handle the backend</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-dark" style=" height: 20rem">
                    <div class="card-body">
                        <h4 class="card-title">YelpCamp Website</h4>
                        <p class="card-text">Created a website where users can create and review campgrounds
                            The project was created using Node.js, Express, MongoDB, and Bootstrap. Passport.js was used
                            to handle the authentication</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-dark" style=" height: 20rem">
                    <div class="card-body">
                        <h4 class="card-title">Library Management System</h4>
                        <p class="card-text">A website that manages and keeps track of all the activities regarding
                            books and members with facilities like Registration, Updation, Books Search, Status of
                            Availability, etc including the fees tracking module.
                            Technologies used: PHP, MySQL, HTML, CSS3</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h1>Github link</h1>
    <a href="https://github.com/akshaypujare7"> My Profile </a>
{% endblock %}