{% extends "base.html" %}
{% block content %}
    <h1>Pylint and Other Concepts</h1>

    <div class="container">
        <div class="row">

            <h4 class="center">Pylint</h4>
            <hr>
            <p>
                Pylint is a tool that checks for errors in Python code, tries to enforce a coding standard and looks
                for code smells. It can also look for certain type errors, it can recommend suggestions about how
                particular blocks can be refactored and can offer you details about the code's complexity.
            </p>
            <h4 class="center">Instantiation</h4>
            <hr>
            <p>
                In programming, instantiation is the creation of a real instance or particular realization of an
                abstraction or template such as a class of objects or a computer process.
            </p>
            <h4 class="center">Object</h4>
            <hr>
            <p>
                An object can be defined as a data field that has unique attributes and behavior.
            </p>
            <h4 class="center">Class</h4>
            <hr>
            <p>In object-oriented programming , a class is a template definition of the method s and variable s in a
                particular kind of object </p>
            <h4 class="center">Namespace</h4>
            <hr>
            <p>A namespace is a set of signs (names) that are used to identify and refer to objects of various
                kinds. A namespace ensures that all of a given set of objects have unique names so that they can be
                easily identified.</p>
            <h4 class="center">Constructor</h4>
            <hr>
            <p>In object-oriented programming, a constructor is a method or function for creating an instance of the
                class that it belongs. It has no return value and is usually identified by having the same name as the
                class itself</p>
            <h4 class="center">Fixtures</h4>
            <hr>
            <p>Fixtures allow you to populate your testing database with predefined data before your tests run. Fixtures
                are database independent and written in YAML. There is one file per model.</p>
            <h4 class="center">Type hint</h4>
            <hr>
            <p>Type hinting is a formal solution to statically indicate the type of value within your Python code. It
                was specified in PEP 484 and introduced in Python 3.5.</p>
            <h4 class="center">Type Cast</h4>
            <hr>
            <p>The process of converting the value of one data type (integer, string, float, etc.) to another data type
                is called type conversion.</p>
            <h4 class="center">Unit Test</h4>
            <hr>
            <p>Unit testing is a technique in which particular module is tested to check by developer himself whether
                there are any errors. The primary focus of unit testing is test an individual unit of system to analyze,
                detect, and fix the errors.</p>
            <h4 class="center">Instance method</h4>
            <hr>
            <p>Instance methods are the most common type of methods in Python classes. These are so called because they
                can access unique data of their instance. If you have two objects each created from a car class, then
                they each may have different properties.</p>
            <h4 class="center">Static method</h4>
            <hr>
            <p>Static methods, much like class methods, are methods that are bound to a class rather than its object.
                They do not require a class instance creation. So, they are not dependent on the state of the
                object.</p>
            <h4 class="center">Encapsulation</h4>
            <hr>
            <p>Encapsulation is the packing of data and functions that work on that data within a single object. By
                doing so, you can hide the internal state of the object from the outside. This is known as information
                hiding. A class is an example of encapsulation.</p>
            <h4 class="center">Inheritance</h4>
            <hr>
            <p>Inheritance allows us to define a class that inherits all the methods and properties from another class.
                Parent class is the class being inherited from, also called base class. Child class is the class that
                inherits from another class, also called derived class.</p>
            <h4 class="center">Polymorphism</h4>
            <hr>
            <p>Polymorphism is the ability to leverage the same interface for different underlying forms such as data
                types or classes. This permits functions to use entities of different types at different times</p>
            <h4 class="center">Abstraction</h4>
            <hr>
            <p>Abstraction in python is defined as a process of handling complexity by hiding unnecessary information
                from the user. This is one of the core concepts of object-oriented programming (OOP) languages.</p>
            <h4 class="center">Design Patterns</h4>
            <hr>
            <p>
                Design patterns provide a standard terminology and are specific to particular scenario. For example, a
                singleton design pattern signifies use of single object so all developers familiar with single design
                pattern will make use of single object and they can tell each other that program is following a
                singleton pattern.</p>
            <h4 class="center">SOLID</h4>
            <hr>
            <p>SOLID is a mnemonic acronym for a set of design principles created for software development in
                object-oriented languages.

                The principles in SOLID are intended to foster simpler, more robust and updatable code from software
                developers.</p>
        </div>
    </div>
{% endblock %}